$green: #16c784;
$red: #ea3943;
$grey: #a7a5a5;

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

body {
  margin: 0px !important;
}

.p-0 {
  padding: 0px;
}

.m-0 {
  margin: 0px;
}

.ml-2 {
  margin-left: 0.5rem;
}

.px-5 {
  padding: 2.5rem 1rem;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-red {
  color: $red;
}

.text-center {
  text-align: center;
}

.text-green {
  color: $green;
}

.header {
  padding: 1rem 0rem;
  @include box-shadow(0px 0px 5px $grey);

  button {
    margin-right: 25px;
  }
}

.footer {
  width: 100%;
  padding: 0.8rem 0;
  background-color: #eee;
}